.header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    font-size: 200%;
    width: 200px;
    height: 200px;
    top: 50px;
    left: 50px;
    .title {
        animation: animation-display 1s linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }
    &::before {
      position: absolute;
      content: "";
      animation: header-animation-border-top-right 1s linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      border-radius: 50%;
    }
    &::after {
      position: absolute;
      content: "";
      animation: header-animation-border-bottom-left 1s linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      border-radius: 50%;
    }
} 